.live {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px 0;
  padding: 100px 0;
  color: #848484;

  &-title {
    font-size: 80px;
    text-transform: uppercase;
    padding-top: 100px;

    &-text {
      color: #ff8a76;
    }
  }

  &-text {
    font-size: 20px;
    &:last-child {
      padding-bottom: 20px;
    }

    &-link {
      color: #ff8a76;
    }
  }
}
